.pool{
    height: 100vh;
    .table-main{
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        // padding: 35px 40px;
        padding: 0px;
        margin-bottom: 40px;
        table{
            border-collapse: unset!important;
        }
        .table td{
            border-top: none!important;
           
        }
        .table th{
            border: none!important;
            border-bottom: 1px solid #F2F2F2!important;
        }
        .pOnDark{
            font-family: 'Lato'!important;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #0B0E34;
        }
       
        .table thead th{
            padding: 25px 40px;
            border-top: none!important;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #B7B7B7;

        }
        .table tbody td{
            padding: 25px 40px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #0B0E34;
        }
        .table tbody tr:last-child{
            border-bottom: 1px solid #ffffff!important;
        }
        .table-responsive{
            .custom-table{
                    .main{
                        display: flex;
                        align-items: center;
                        .parent{
                            display: flex;
                            margin-right: 10px;
                            .inner2{
                                margin-left: -10px;
                               
                            }
                        }
                    }
            }
        }
    }
    .option-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 50px 0;
        .group_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border: 1.5px solid #F6C325;
            border-radius: 6px;
            margin-right: 35px;
            padding: 2px;
        }
      
      

      
    }

  
    
}

.option-wrap .option {
    background: white;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .option-wrap .option.selected {
    background: #F6C325;
    border-radius: 6px;
    padding: 10px 24px;
  }

  .btn-common{
      padding: 12px 35px;
      background: #FFFFFF;
      border: 1.5px solid #FF0083 !important;
    border-radius: 10px;
  }

  .hhhhh{
    font-family: 'Lato'!important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #02AC13!important;
}

.gj{
    line-height: 46px!important;
}


.ghj{
    line-height: 46px!important;
    width: 186px;
    .main{
        .parent{
            .inner1{
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }
            }
            .inner2{
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.pool .table-main .table-responsive .custom-table .main{
    width: 176px;
}

.css-1l5xa58>:not(style){
    width: 336px !important;
}




@media(max-width:1199px){
    .navbar-nav li{
        margin-bottom: 20px;
    }
}

@media(max-width:430px){
    .pool .option-wrap{
        flex-wrap: wrap;
    }
    .pool .option-wrap .group_btn{
margin-top: 20px;
order: 2;
    }
    .css-1l5xa58>:not(style){
        margin: 0 !important;
       
    }
    .main-navbar .navbar-nav{
        margin-top: 20px;
    }
}

@media(max-width:380px){
    .css-1l5xa58 > :not(style){
        width: 300px !important;
    }
}
